@font-face {
  font-family: 'Volvo Sans Pro';
  src: url('volvosanspro-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('volvosanspro-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('volvosanspro-bold-webfont.woff') format('woff'), /* Modern Browsers */
       url('volvosanspro-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('volvosanspro-bold-webfont.svg#f7b9aada8e27f6bef663702f7330c61f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

