@font-face {
  font-family: 'Volvo Sans Pro Light';
  src: url('volvosanspro-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('volvosanspro-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('volvosanspro-light-webfont.woff') format('woff'), /* Modern Browsers */
       url('volvosanspro-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('volvosanspro-light-webfont.svg#59212f3bab80dbf6527ee531e4cfb2ca') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

