@font-face {
  font-family: 'Volvo Sans Pro Medium';
  src: url('volvosanspro-medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('volvosanspro-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('volvosanspro-medium-webfont.woff') format('woff'), /* Modern Browsers */
       url('volvosanspro-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('volvosanspro-medium-webfont.svg#6e9c18392ae2bf86a82f6ab4fb58240c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

