// media queries
$mq-sm : 500px !default;
$mq-md : 800px !default;
$mq_custom: 950px;
$mq_huge: 1450px;

// spacing
$global_space_l: 60px;

// columns
$col_identity_w: 285px;
$col_content_w: 850px;
$col_nav_w: 150px;

// colors
$bg_color: #F4F4F4;

// captions
$captions_color: #939393;

// nav
$nav_ui_color: #E3E3E3;
$nav_ui_text: #939393;
$nav_ui_text_current: #414141;
$nav_delay: 0.75s;
$nav_duration: 0.5s;
