@mixin gt-container {
	@media only screen and (min-width : $container-max-width + 1) {
		@content;
	}
}

@mixin gt-md {
	@media only screen and (min-width : $mq-md + 1) {
		@content;
	}
}

@mixin gt-sm {
	@media only screen and (min-width : $mq-sm) {
		@content;
	}
}

@mixin lt-custom($lt-custom-width) {
	@media only screen and (max-width : $lt-custom-width - 1) {
		@content;
	}
}

@mixin gt-custom($gt-custom-width) {
	@media only screen and (min-width : $gt-custom-width + 1) {
		@content;
	}
}

@mixin vert-sm {
	@media only screen and (min-width : $mq-md + 1) and (max-height: 700px) {
		@content;
	}
}

@mixin vert-big {
	@media only screen and (min-width : $mq-md + 1) and (min-height: 850px) {
		@content;
	}
}
