h1 {
  margin: 40px auto 0;
  @extend %ir;
  width: 145px;
  height: 118px;
  background: url(../images/logo.svg) no-repeat center center;
  background-size: cover;
  opacity: .25;

  @include gt-md {
    position: fixed;
    top: 60px;
    left: 65px;
    margin: 0;
  }
}
