body {
  font-family: 'Volvo Sans';
  font-size: 14px;
  line-height: 1;
  font-weight: 200;
  background: $bg_color;
}

// groups
section {
  width: 100%;

  &:first-of-type article:first-of-type {
    padding-top: 40px;

    @include gt-md {
      padding-top: $global_space_l;
    }
  }

  &:last-of-type article:last-of-type {
    padding-bottom: 40px;

    @include gt-md {
      padding-bottom: $global_space_l;
    }
  }
}

// items
article {
  width: 100%;
  margin-bottom: 35px;
  padding: 0 20px;

  @include gt-md {
    width: 100%;
    padding: 0 $global_space_l 0 $col_identity_w;
    margin-bottom: 50px;
  }

  @include gt-custom($mq_custom) {
    padding: 0 (($global_space_l * 2) + $col_nav_w) 0 $col_identity_w;
    margin-bottom: $global_space_l;
  }

  // caption
  p {
    color: $captions_color;

    &:before {
      position: relative;
      top: 4px;
      display: inline-block;
      margin-right: 6px;
      content: '';
      width: 9px;
      height: 16px;
      background: url(../images/pin.svg) no-repeat center center;
      background-size: cover;
      opacity: .35;
    }
  }
}
