nav {
  display: none;
  position: fixed;
  right: 40px;
  top: 50px;
  width: $col_nav_w;
  height: calc(100% - #{$global_space_l});
  border-right: $nav_ui_color 2px solid;

  @include gt-custom($mq_custom) {
    display: block;
  }

  @include gt-custom($mq_huge) {
    right: auto;
    left: ($col_identity_w + $col_content_w + $col_nav_w);
  }

  a {
    @include single-transition(all, .2s, ease-in-out, 0);
    position: relative;
    display: block;
    text-decoration: none;
    color: $nav_ui_text;
    line-height: 35px;
    text-align: right;
    cursor: pointer;
    margin-right: 30px;

    &:hover {
      text-decoration: underline;
    }
  }

  .current {
    font-weight: 400;
    color: $nav_ui_text_current;

    &:hover {
      text-decoration: none;
    }

    &:after {
      position: absolute;
      right: -32px;
      top: 8px;
      display: inline-block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 12px 8px 0;
      border-color: transparent $nav_ui_color transparent transparent;

      .nav-can-scroll & {
        right: -38px;
      }
    }
  }
}

// nav animate on load
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

nav {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: $nav_duration;
  -moz-animation-duration: $nav_duration;
  animation-duration: $nav_duration;

  -webkit-animation-delay: $nav_delay;
  -moz-animation-delay: $nav_delay;
  animation-delay: $nav_delay;
}
