@font-face {
  font-family: 'Volvo Sans';
  src: url('../fonts/volvo-sans/volvosanspro-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/volvo-sans/volvosanspro-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/volvo-sans/volvosanspro-light-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/volvo-sans/volvosanspro-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/volvo-sans/volvosanspro-light-webfont.svg#59212f3bab80dbf6527ee531e4cfb2ca') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Volvo Sans';
  src: url('../fonts/volvo-sans/volvosanspro-medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/volvo-sans/volvosanspro-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/volvo-sans/volvosanspro-medium-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/volvo-sans/volvosanspro-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/volvo-sans/volvosanspro-medium-webfont.svg#6e9c18392ae2bf86a82f6ab4fb58240c') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Volvo Sans';
  src: url('../fonts/volvo-sans/volvosanspro-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/volvo-sans/volvosanspro-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/volvo-sans/volvosanspro-bold-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/volvo-sans/volvosanspro-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/volvo-sans/volvosanspro-bold-webfont.svg#f7b9aada8e27f6bef663702f7330c61f') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}
